body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1,
h2,
h3 {
    color: #ff9900;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff9900;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: #252525;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1a1a1a;
    color: white;
}

.nav-bar {
    width: 100%;
}

.nav-bar td {
    border: none;
}

#raid-table {
    width: 100%;
}

#raid-table th:first-child {
    background-color: #333333;
}

#raid-table td:first-child {
    background-color: #2b2b2b;
}

ul,
ol,
dl {
    margin: 20px auto;
    padding: 15px;
    max-width: 800px;
    background-color: #2a2a2a;
    border: 1px solid #444;
}

dl dt {
    font-weight: bold;
    color: #ff9900;
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.max-w-800 {
    max-width: 800px;
    margin: 0 auto;
}

/* --- lab4 --- */


.nav-bar tr td a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff9900;
}



h2+p {
    font-size: 1.05em;
    margin-top: 8px;
    color: #cccccc;
}

ul>li {
    list-style-type: square;
    margin-bottom: 5px;
    padding-left: 5px;
}